.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #0B2B59;
  border-radius: 2px;
  transition: all 0.3s ease;
}
